body {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  } 

  .form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.form label {
    display: inline-block;
    font-size: 24px;
}
.ResizedText {
    height:max-content;
    width: auto;
}